<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BSBDJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E109EE381DEE9F0100BD1CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E109EE511DEE9F0100BD1CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E109EE5C1DEE9F0100BD1CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
